@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.leaflet-custom-tooltip {
  background-color: #0f172a !important;
  color: #f8fafc !important;
  border: 1px solid #334155 !important;
  border-radius: 8px !important;
  padding: 6px 10px !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3) !important;
}

.leaflet-container {
  font-family: inherit !important;
  background-color: #090d16 !important;
}
